/* --- NAVBAR --- */
.bottom-navbar {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1050;
  display: inline-block;
  border-radius: 8px;
  padding: 0 1rem;
  min-width: 700px;
}

.bottom-navbar .nav {
  padding: 10px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.bottom-navbar .nav-link {
  position: relative;
  padding: 6px 20px;
  border: 1px solid var(--border-light);
  border-radius: 6px;
  font-size: 15px;
  color: var(--font);
  display: flex;
  align-items: center;
  gap: 8px;
}

.bottom-navbar .nav-link .icon .svg,
.bottom-navbar .nav-link.highlighted .content .svg {
  width: 18px;
  height: 18px;
}

.bottom-navbar .nav-link:hover .icon .svg rect,
.bottom-navbar .nav-link.highlighted:hover .content .svg path {
  fill: var(--primary);
}

.bottom-navbar .nav-link:hover {
  border-color: var(--primary);
  color: var(--primary);
}

.bottom-navbar .nav-link.highlighted {
  position: relative;
  color: var(--primary);
  clip-path: inset(0 round 6px);
  padding: 0;
  border: 0;
}

/* Register the custom property */
@property --_gradient-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.bottom-navbar .nav-link.highlighted .bg {
  /* your gradient background */
  background: conic-gradient(from var(--_gradient-angle) at 8.04% 51.79%,
      #FBFAF6 0deg,
      rgba(251, 250, 246, 0) 360deg),
    #40ff86;



  /* animation */
  animation: gradient-angle-rotate 3s linear infinite;

  pointer-events: none;
  position: absolute;
  inset: 0%;
}

.bottom-navbar .nav-link.highlighted .content {
  clip-path: inset(2px round calc(6px - 2px));
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  /* background-image: linear-gradient(180deg, #592db5, #7d40ff); */
  background: #dae0ff;
  padding: 10px 30px;
  color: var(--primary);
  gap: 8px;
}

@keyframes gradient-angle-rotate {
  0% {
    --_gradient-angle: 0deg;
  }

  100% {
    --_gradient-angle: 360deg;
  }
}


.megamenu-arrow {
  position: absolute;
  left: 50%;
  top: -27px;
  transform: translateX(-50%) translateY(0);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  opacity: 0;
  transition: opacity .18s ease, transform .18s ease;
  pointer-events: none;
  z-index: 1052;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.08));
}

.nav-link.active .megamenu-arrow {
  opacity: 1;
  transform: translateX(-50%) translateY(-2px);
}

/* --- OVERLAY --- */
.megamenu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease, visibility .3s ease;
  z-index: 1040;
}

.megamenu-overlay.show {
  opacity: 1;
  visibility: visible;
}

/* --- MEGAMENU --- */
.megamenu {
  position: absolute;
  bottom: calc(100% + 12px);
  left: 50%;
  transform: translateX(-50%) translateY(8px);
  width: 80vw;
  max-width: 800px;
  background: #fff;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 2rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity .28s ease, transform .28s ease, visibility .28s ease;
  z-index: 1051;
}

.megamenu.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
  pointer-events: auto;
}

/* example content */

.megamenu .link-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 15px;
  border-radius: 4px;
  transition: all .3s ease;
}

.megamenu .link-item h4 {
  font-size: 20px;
  color: var(--header);
}

.megamenu .link-item p {
  font-size: 15px;
}

.megamenu .link-item .icon {
  opacity: 0;
  transition: all .3s ease;
}

.megamenu .link-item:hover {
  background: rgba(240, 243, 255, 1);
  box-shadow: 0 1px 0 var(--primary);
}

.megamenu .link-item:hover .icon {
  opacity: 1;
}

.megamenu .recent-works {
  display: block;
  border: 1px solid var(--border-light);
  border-radius: 20px;
  overflow: hidden;
}

.megamenu .recent-works .contents {
  padding: 20px;
}

.megamenu .recent-works .contents .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 8px;
}

.megamenu .recent-works .contents .header .svg path {
  fill: var(--font) !important;
  transition: all .3s ease;
}

.megamenu .recent-works:hover .contents .header .svg path {
  fill: var(--primary) !important;
  transition: all .3s ease;
}

.megamenu .recent-works .img {
  overflow: hidden;
}

.megamenu .recent-works .img img {
  transition: all .3s ease;
}

.megamenu .recent-works:hover .img img {
  transform-style: unset;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}


@media screen and (max-width: 767px) {
  .bottom-navbar {
    width: 100%;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    min-width: auto;
    background: transparent;
    box-shadow: none;
  }

  .bottom-navbar .nav {
    justify-content: space-between !important;
    gap: 0;
  }

  .bottom-navbar .nav-link {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    gap: 0;
    border: 0;
    padding: 0;
    font-size: 15px;
    width: 64px;
  }

  .bottom-navbar .nav-link.highlighted {
    transform: translateY(-54%);
    position: relative;
    clip-path: inset(0 round 16px);
  }

  .bottom-navbar .nav-link.highlighted {
    width: 64px;
  }

  .bottom-navbar .nav-link.highlighted .content {
    padding: 10px;
    width: 64px;
    height: 64px;
    border-radius: 18px;
    clip-path: inset(2px round calc(18px - 2px));
  }

  .bottom-navbar .nav-link.highlighted .content .svg {
    width: 32px;
    height: 32px;
  }

  :root {
    --_middle-size: calc(64px + 18px + (6px * 2));
    --_left-offset: calc(50% - (var(--_middle-size) / 2));
    --_top-offset: 80px;
    --_right-offset: calc(50% + (var(--_middle-size) / 2));
    --_cutfix: 10px;
    --_left-offset-cutfix: calc(var(--_left-offset) - var(--_cutfix));
    --_right-offset-cutfix: calc(var(--_right-offset) + var(--_cutfix));
  }

  .mobile_nav_bg {
    z-index: -1;
    border-radius: 16px;
    background-color: #fff;
    pointer-events: none;
    position: absolute;
    inset: 0%;
    box-shadow: inset 0 .1875rem .25rem #30ff9766;


    clip-path: polygon(0 0, var(--_left-offset) 0, var(--_left-offset) var(--_top-offset), var(--_right-offset) var(--_top-offset), var(--_right-offset) 0, 100% 0, 100% 100%, 0 100%);

  }

  .nav_curve_shape {
    pointer-events: none;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);

    clip-path: polygon(var(--_left-offset-cutfix) 0, var(--_right-offset-cutfix) 0, var(--_right-offset-cutfix) 100%, var(--_left-offset-cutfix) 100%);
  }

  .megamenu {
    width: 100%;
    border-radius: 16px 16px 0 0;
    bottom: 0;
    z-index: -2;
    padding: 20px 0 130px 0;
  }

  .megamenu-arrow {
    display: none;
  }

  .megamenu .link-item {
    border-bottom: 1px solid var(--border-light);
    padding: 15px 20px;

  }

  .megamenu .link-item h4 {
    font-size: 18px;
  }

  .megamenu .link-item p {
    font-size: 14px;
  }

}

@media screen and (max-width: 449px) {
  .bottom-navbar .nav-link {
    width: 50px;
    font-size: 12px;
  }
}

@media screen and (max-width: 399px) {
  .bottom-navbar .nav-link .text {
    display: none;
  }

  .bottom-navbar .nav-link .icon .svg,
  .bottom-navbar .nav-link.highlighted .content .svg {
    width: 24px;
    height: 24px;
  }
}



.home_hero {
  background-image: url('../img/hero_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px 0;
  min-height: 100dvh;
  overflow: hidden;
  position: relative;
}



#cursorCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  /* Prevents blocking clicks */
}

.home_hero .title {
  font-size: 48px;
  text-transform: capitalize;
}

.home_hero .contents h5 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 15px;
  font-family: "Ruthie", cursive;
}

.home_hero .text_slide_wrap {
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin-top: 15px;
}

.home_hero .text_slide {
  display: inline-block;
  min-width: 900px;
  overflow: hidden;
  /* line-height: 1.7; */
}

.home_hero .text_slide .item {
  text-align: center;
  background: linear-gradient(180deg, #2D9DFF 0%, #F09DA4 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}


.logo_slider:before,
.logo_slider:after {
  position: absolute;
  top: 0;
  content: '';
  width: 250px;
  height: 100%;
  z-index: 2;
}

.logo_slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.logo_slider_inner {
  display: flex;
  gap: 40px;
  position: relative;
}

.logo_slider_inner img {
  height: 50px;
  width: auto;
  flex-shrink: 0;
  opacity: .7;
}

.hero_btns {
  display: flex;
  gap: 20px 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hero_btns .btn_primary,
.hero_btns .btn_secondary {
  min-width: 290px;
  text-transform: uppercase;
}


@media screen and (max-width: 991px) {
  .home_hero .text_slide {
    min-width: 700px;
  }
}

@media screen and (max-width: 767px) {
  .home_hero .title {
    font-size: 32px;
  }

  .home_hero .text_slide {
    min-width: 500px;
  }

  .home_hero .logo {
    max-width: 200px;
  }

}

@media screen and (max-width: 574px) {
  .home_hero .text_slide {
    font-size: 26px;
    min-width: 350px;
  }

  .home_hero {
    padding-top: 30px;
  }
}

/* Our Services  */

.section.our_services {
  position: relative;
  background-attachment: fixed;
  /* fixed background */
  z-index: 1;
}

.section.our_services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../img/our-services-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  /* control background opacity */
  z-index: -1;
  /* keep it behind content */
}


.our_services .sticky_col {
  position: sticky;
  top: 100px;
  align-self: flex-start;
}

.our_services .service_card {
  margin-bottom: 50px;
}

.our_services .service_card .service_title {
  display: inline-block;
  font-size: 42px;
  color: var(--tertiary);
  margin-bottom: 15px;
  line-height: 1.5;
}

.our_services .service_card .service_title i {
  font-size: 32px;
  color: var(--primary);
}

.our_services .service_card .service_title:hover {
  color: var(--primary);
}


.service_swiper {
  padding: 20px 0;
}

.service_swiper .swiper-wrapper {
  align-items: flex-end;
  /* bottom align slides */
}

.our_services .service_card .swiper-slide {
  height: 280px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  transition: transform 0.4s ease, z-index 0.4s ease;
}

.our_services .service_card .slide-inner {
  width: 100%;
  height: 60%;
  /* smaller height for inactive */
  border-radius: 14px;
  overflow: hidden;
  transition: all 0.4s ease;
  opacity: 0.7;
  background: #ddd;
}

.our_services .service_card .swiper-slide-active .slide-inner {
  height: 100%;
  /* full height for active */
  opacity: 1;
}


.our_services .service_card .slide-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  display: block;
}


@media screen and (max-width: 767px) {
  .our_services .service_card .service_title {
    font-size: 28px;
  }

  .our_services .service_card .service_title i {
    font-size: 24px;
  }
}

.box_v1_wrap {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box_v1_wrap .item {
  background: linear-gradient(160.73deg, #B1E4FF 14.41%, #FFFFFF 39.97%);
  padding: 50px 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
  height: 100%;
  min-width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box_v1_wrap .item .number {
  display: inline-block;
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 15px;
  color: var(--font);
  transition: transform 0.35s ease, color 0.35s ease, text-shadow 0.35s ease;
}

.box_v1_wrap .item h5 {
  font-size: 20px;
  margin: 0;
  transition: transform 0.35s ease, color 0.35s ease;
  color: var(--font);
}

/* Hover effects */
.box_v1_wrap .item:hover {
  transform: translateY(-8px);
  box-shadow: 6px 12px 24px rgba(0, 0, 0, 0.18);
}


.box_v1_wrap .item:hover .number {
  transform: scale(1.1);
  color: var(--secondary);
  text-shadow:
    1px 1px 2px rgba(106, 13, 173, 0.3),
    2px 2px 4px rgba(106, 13, 173, 0.2);
}

.box_v1_wrap .item:hover h5 {
  font-size: 20px;
  color: var(--primary);
  transform: translateY(8px);
}



/* Clients */

.clientSlider .owl-stage-outer {
  padding: 0 80px;
}

.clientSlider .item {
  display: flex;
  gap: 40px;
  flex-direction: column;
  text-align: center;
}

.clientSlider .item .img {
  height: 80px;
  display: inline-flex;
  align-items: center;
}

.clientSlider .item .img img {
  max-width: 100%;
  width: auto;
}

.clientSlider .owl-nav button.owl-prev,
.clientSlider .owl-nav button.owl-next {
  width: 48px;
  height: 48px;
  background: var(--secondary);
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
}

.clientSlider .owl-nav button.owl-prev:hover,
.clientSlider .owl-nav button.owl-next:hover {
  background: var(--primary);
}

.clientSlider .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 767px) {
  .clientSlider .owl-stage-outer {
    padding: 0;
  }

  .clientSlider .owl-nav {
    position: unset;
    justify-content: center;
    margin-top: 40px;
  }

  .clientSlider .owl-nav button.owl-prev,
  .clientSlider .owl-nav button.owl-next {
    width: 34px;
    height: 34px;
    font-size: 16px;
  }

  .clientSlider .item {
    gap: 40px;
  }

  .clientSlider .item .img {
    height: auto;
    justify-content: center;
  }
}

/* Blog Section  */

.blog_post .blog_item {
  background: #fff;
  border-radius: 6px;
  height: 100%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);

  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.blog_post .blog_item:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.11);
}

.blog_post .blog_item .img {
  overflow: hidden;
  height: 270px;
  border-radius: 6px 6px 0 0;
}

.blog_post .blog_item .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 6px 6px 0 0;

  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

.blog_post .blog_item:hover .img img {
  -webkit-transform-style: unset;
  transform-style: unset;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.blog_post .blog_item .contents {
  padding: 20px;
}

.blog_post .blog_item .tag {
  display: inline-block;
  padding: 6px 15px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: var(--secondary);
  margin-bottom: 15px;
  line-height: 1.5;
}

.blog_post .blog_item .title_3 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 1.4em;
  letter-spacing: 0.4px;
  color: var(--header);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.blog_post .blog_item .blog_desc {
  margin-bottom: 0;
  color: var(--font);
  font-size: 15px;
  font-weight: 400;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}


.blog_post .blog_item .read_more {
  display: block;
  background: var(--primary);
  padding: 6px 15px;
  color: var(--white);
  font-size: 14px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  text-transform: capitalize;
  text-align: center;
  margin-top: 20px;

  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  transition: max-width 0.4s ease;

}

.blog_post .blog_item:hover .read_more {
  max-width: 100%;
}


.testimonialSlider .owl-stage {
  display: flex;
  align-items: flex-end;
}

.testimonialSlider .owl-item {
  margin-top: auto;
}

.testimonialSlider .item {
  padding-left: 60px;
  box-shadow: 12px 15px 0 var(--primary);
  border-radius: 0 15px 10px 65px;
  margin-bottom: 20px;
  margin-right: 25px;
}

.testimonialSlider .item .contents {
  position: relative;
  background: var(--white);
  border-radius: 50px 20px 20px 0;
  position: relative;
  padding: 20px 20px 20px 70px;
}


.testimonialSlider .item .contents .review_desc {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.testimonialSlider .item .contents .ratings ul {
  display: flex;
  gap: 10px;
  font-size: 16px;
  color: var(--rating-color);
  margin-bottom: 10px;
}

.testimonialSlider .item .client_details .name {
  color: var(--header);
  font-size: 16px;
  font-weight: 600;
}

.testimonialSlider .item .client_details .location {
  color: var(--font);
  font-size: 14px;
}

.testimonialSlider .item .client_details h6 {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
}

.testimonialSlider .item .client_details h6 img {
  width: 16px;
}

.testimonialSlider .item .client_img {
  position: absolute;
  bottom: 0;
  left: -60px;
}

.testimonialSlider .item .client_img img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
}


.faq .accordion-button:hover,
.faq .accordion-button:focus {
  box-shadow: none;
}

.faq .accordion-item {
  /* border: 0; */
  margin-bottom: 15px;
  border-radius: 6px;
}

.faq .accordion-header .accordion-button {
  /* border: 1px solid var(--border-light); */
  font-size: 20px;
  border-radius: 6px;
}

.faq .accordion-button:not(.collapsed) {
  background: var(--bg-primary-light);
  border-color: var(--bg-primary-light);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.faq .accordion-body {
  /* border: 1px solid var(--border-light); */
}

.faq .accordion-item:not(:first-of-type) {
  border-top: 1px solid var(--border-light);
}

.faq .accordion-button::after {
  background-image: none;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f068";
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
}

.accordion-button.collapsed:after {
  content: '\2b';
}


/* Contact  */

.contact_info_item {
  display: flex;
  gap: 15px;
  align-items: center;
  background: #fff;
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact_info_item:hover {
  background: rgba(230, 246, 255, 1);
  transform: translateY(-5px);
  box-shadow: 6px 12px 24px rgba(0, 0, 0, 0.18);
}

.contact_info_item .icon {
  width: 60px;
  height: 60px;
  background: var(--bg-primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: transform 0.35s ease, color 0.35s ease, box-shadow 0.35s ease;
}

.contact_info_item .icon .svg {
  width: 28px;
  height: 28px;
}

.contact_info_item:hover .icon {
  background: #fff;
}

.contact_info_item .contents h4 {
  font-size: 24px;
  margin-bottom: 4px;
  color: var(--header);
}

.contact_info_item .contents p,
.contact_info_item .contents a {
  font-size: 16px;
  color: var(--font);
}

.social_info_item {
  background: #fff;
  padding: 30px 20px;
  border-radius: 10px;
  border: 1px solid var(--primary);
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
}

.social_info_item h4 {
  font-size: 28px;
  color: var(--header);
}

.social_info_item ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.social_info_item ul li .svg {
  width: 28px;
  height: 28px;
}

.social_info_item ul li a .svg path {
  transition: all .1s ease;
}

.social_info_item ul li a:hover .svg path {
  fill: var(--primary);
}


.contact_form_box {
  background: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
}

.contact_form_box .header {
  margin-bottom: 20px;
}

.contact_form_box .header h5 {
  color: var(--warning-color);
  margin-bottom: 5px;
  font-weight: 400;
}

.contact_form_box .header h4 {
  font-size: 22px;
  color: var(--header);
  font-weight: 500;
  line-height: 1.4;
}

.input-container {
  position: relative;
}

.input {
  width: 100%;
  outline: none;
  border: 1px solid var(--border-light);
  background: #fff;
  padding: 0.5rem 1.2rem;
  color: var(--font);
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.input:focus,
.form-select:focus {
  border-color: var(--primary);
  box-shadow: none;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 5px;
  resize: none;
  overflow-y: auto;
}

.form-select {
  color: var(--font);
  padding: 0.7rem 1.2rem;
  outline: none;
  border: 1px solid var(--border-light);
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: var(--font);
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 15px;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 2px;
  transform: translateY(-50%);
  left: 25px;
  font-size: 15px;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}


@media screen and (max-width: 574px) {
  .contact_form_box {
    padding: 20px;
  }
}

/* Footer  */

.footer {
  background: var(--tertiary);
  padding-top: 120px;
  padding-bottom: 150px;
}

.footer_widget .desc {
  color: #E5E7EB;
  font-size: 15px;
}

.footer_widget .social ul {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.footer_widget .social ul li .svg {
  width: 24px;
  height: 24px;
}

.footer_widget .social ul li .svg path {
  fill: #fff;
  transition: all .1s ease;
}

.footer_widget .social ul li a:hover .svg path {
  fill: var(--primary);
}


.footer_btn.btn_primary {
  display: inline-block;
  background: rgb(4, 127, 190);
  color: #fff;
  padding: 10px 20px;
  border: 1px solid rgba(230, 246, 255, 0.41);
  text-transform: uppercase;
  transition: all .3s ease;
  margin-top: 15px;
}

.footer_btn.btn_primary .svg {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  margin-top: -2px;
  display: inline-block;
  vertical-align: middle;
  fill: #fff;
  transition: all .3s ease;
}

.footer_btn.btn_primary:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.footer_widget .title_4 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.footer_widget .links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer_widget .links a {
  font-size: 15px;
  color: #E5E7EB;
}

.footer_widget .links a:hover {
  color: #fff;
}


.newsletter_form .input-with-button {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.newsletter_form .input-field {
  flex-grow: 1;
  border: none;
  padding: 10px;
  outline: none;
}

.newsletter_form .action-button {
  background: none;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.newsletter_form .action-button svg {
  width: 20px;
  height: 20px;
}

.copyright_wrap {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.copyright_wrap hr {
  color: #fff;
  opacity: .7;
  margin-bottom: 4px;
}

.copyright_wrap .desc {
  font-size: 14px;
  color: #E5E7EB;
}

.footer_menu ul {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.footer_menu ul li a {
  font-size: 14px;
  color: #E5E7EB;
}

.footer_menu ul li a:hover {
  color: #fff;
}

.ready_to_work_box {
  padding: 50px;
  background: #B1E4FF;
  border: 5px solid #fff;
  border-radius: 20px;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  bottom: -80px;
}

.ready_to_work_box h3 {
  font-size: 32px;
  background: linear-gradient(90deg, #FF4545 0%, #001FB8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  margin-bottom: 10px;
}

.ready_to_work_box .desc {
  font-size: 16px;
  color: var(--font);
  margin-bottom: 15px;
}


/* Services Page  */

.single_page_hero {
  min-height: 600px;
  background-color: var(--primary);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px 0;
  display: flex;
  align-items: center;
}

.single_page_hero.services {
  background-image: url('../img/services/services-hero-banner.png');
}

.single_page_hero.video_eiditing {
  background-image: url('../img/video-editing/video-eiditing-hero-banner.png');
}

.single_page_hero .title {
  color: var(--white);
  font-size: 54px;
  margin-top: 20px;
}

.single_page_hero .subtitle {
  color: var(--white);
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Carattere", cursive;
}

.single_page_hero .desc {
  color: var(--white);
  font-size: 16px;
  max-width: 700px;
  margin: 0 auto;
}


.section.services_grid {
  background-image: url('../img/hero_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid_service_card {
  position: relative;
  background: var(--white);
  padding: 20px;
  border: 1px solid var(--border-light);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  height: 100%;
  transition: transform 0.3s ease;
}

.grid_service_card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(160.73deg, #B1E4FF 14.41%, #FFFFFF 39.97%);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 0;
  border-radius: inherit;
}

.grid_service_card:hover::before {
  opacity: 1;
}

.grid_service_card:hover {
  transform: translateY(-5px);
  border-color: #B1E4FF;
}

.grid_service_card>* {
  position: relative;
  z-index: 1;
}

.grid_service_card img {
  width: 100px;
  margin-bottom: 10px;
}

.grid_service_card h4 {
  font-size: 22px;
  margin-bottom: 6px;
}

.grid_service_card p {
  font-size: 15px;
}

.grid_service_card .see_more {
  display: inline-block;
  background: var(--bg-primary-light);
  padding: 5px 12px;
  border-radius: 6px;
  color: var(--header);
  margin-top: 10px;
  transition: all .3s ease;
}

.grid_service_card:hover .see_more {
  background: var(--primary);
  color: var(--white);
}


/* Work gallery */

.gallery_tab {
  background: var(--bg-primary-light);
  padding: 20px 25px;
  border-radius: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery_tab .item {
  display: inline-block;
  padding: 6px 10px;
  border-radius: 6px;
  transition: all .3s ease;
}

.gallery_tab .item.active,
.gallery_tab .item:hover {
  background: var(--tertiary);
  color: var(--white);
}

.work_gallery .gallary-item .item .thumbnail {
  position: relative;
}

.work_gallery .gallary-item .item .thumbnail img {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.work_gallery .gallary-item .item .thumbnail .label {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  padding: 8px 12px;
  background: var(--primary);
  color: var(--white);
  border-radius: 0 6px 0 6px;
  font-size: 15px;
}



/* Service features scrollable card */

.service_features_v1 {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  flex-flow: column;
  display: flex;
  position: relative;
}

.service_features_v1 .item {
  background-color: rgba(86, 197, 255, 1);
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  padding: 30px;
  position: sticky;
  top: 5rem;
  overflow: visible;
  gap: 60px;
}

.service_features_v1 .item.two {
  z-index: 3;
  background-color: rgba(251, 232, 164, 1);
  top: 10rem;
}

.service_features_v1 .item.three {
  z-index: 4;
  background-color: rgba(198, 207, 255, 1);
  top: 15rem;
}

.service_features_v1 .item.four {
  z-index: 5;
  background-color: rgba(201, 255, 247, 1);
  top: 20rem;
}

.service_features_v1 .item.five {
  z-index: 5;
  background-color: rgba(255, 201, 201, 1);
  top: 25rem;
}

.service_features_v1 .item.six {
  z-index: 5;
  background-color: rgba(234, 255, 201, 1);
  top: 30rem;
}

.service_features_v1 .item .right img {
  max-width: 600px;
  border-radius: 6px;
}

.service_features_v1 .item .left h4 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.service_features_v1 .item .left .box_wrap {
  display: flex;
  gap: 10px 50px;
  margin-top: 40px;
}

.service_features_v1 .item .left .box_wrap .box {
  display: inline-block;
  background: var(--white);
  padding: 20px;
  border-radius: 6px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
}

.service_features_v1 .item .left .box_wrap .box h6 {
  font-size: 20px;
  margin-bottom: 25px;
  color: var(--font);
  min-width: 200px;
}

.service_features_v1 .item .left .box_wrap .box .number {
  font-size: 48px;
  color: var(--header);
}

.service_features_v1 .item .left .creations {
  background: rgba(154, 171, 255, 0.2);
  padding: 15px;
  border-radius: 6px;
  margin-top: 20px;
  border: 1px solid rgba(177, 228, 255, 1);
  display: inline-flex;
  align-items: center;
  gap: 20px 40px;
}

.service_features_v1 .item .left .creations:hover{
  background: var(--primary);
}

.service_features_v1 .item .left .creations .users {
  display: flex;
  position: relative;
}

.service_features_v1 .item .left .creations .users img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.service_features_v1 .item .left .creations .users img:not(:first-child) {
  margin-left: -10px;
}

.service_features_v1 .item .left .creations .check_btn {
  display: inline-block;
  background: var(--white);
  padding: 8px 20px;
  border-radius: 6px;
  color: var(--primary);

}