/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ruthie&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');


/* Color Variables  */
:root {
  --primary: rgba(3, 169, 255, 1);
  --secondary: #00316D;
  --tertiary: rgba(2, 93, 140, 1);
  --header: #000000;
  --title-v2: #00387C;
  --font: #636060;
  --font-light: #808080;
  --white: #fff;
  --border: #00387C;
  --border-light: #e5e5e5;
  --bg-light: #F7F7F7E0;
  --bg-primary-light: rgba(240, 250, 255, 1);
  --btn-hover: #4564FF66;
  --rating-color: rgba(255, 205, 41, 1);
  --warning-color: rgba(255, 137, 99, 1);
}


* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
}


/***

====================================================================
  Global Settings
====================================================================

 ***/


body {
  font-size: 17px;
  color: var(--font);
  line-height: 28px;
  font-weight: 400;
  background: var(--white);
  font-family: "Poppins", sans-serif;
}

.large-container {
  max-width: 1600px;
  padding: 0px 15px;
  margin: 0 auto;
}

.container-fluid {
  padding: 0px;
}

.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.small-container {
  max-width: 680px;
  margin: 0 auto;
}


a {
  text-decoration: none;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

a:hover {
  color: var(--primary);
  text-decoration: none;
  outline: none;
}

a.link_reverse {
  color: #fff;
}

a.link_reverse:hover {
  color: var(--header);
}

.img_link:hover {
  opacity: .7;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

ul.list-style-disc li {
  list-style: disc;
}

ul.list-style-number li {
  list-style: decimal;
}

input {
  transition: all 500ms ease;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
  transition: all 500ms ease;
}

p {
  position: relative;
  font-size: 17px;
  line-height: 28px;
  color: var(--font);
  margin: 0px;
  font-family: "Poppins", sans-serif;
  transition: all 500ms ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--header);
  margin: 0px;
  transition: all 500ms ease;
}

.lead {
  font-weight: 500;
}


/* Tooltip colors  */
.tooltip-inner {
  background-color: var(--primary);
  color: var(--white);
}

/* Change tooltip arrow color */
.tooltip .tooltip-arrow::before {
  border-top-color: var(--primary) !important;
  border-bottom-color: var(--primary) !important;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: var(--primary) !important;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: var(--primary) !important;
  border-top-color: var(--primary) !important;
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: var(--primary) !important;
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: var(--primary) !important;
}



.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.form-control,
.form-select {
  padding: .575rem .75rem;
}

.rad_4 {
  border-radius: 4px;
}

.rad_6 {
  border-radius: 6px;
}



.section {
  padding: 120px 0px;
  background: var(--white);
}

.section.light {
  background: var(--bg-light);
}

.section.primary {
  background: var(--primary);
}

.section.primary-light {
  background: var(--bg-primary-light);
}

.bg_secondary {
  background: var(--secondary);
}

.section.primary .section_title span, .section.primary p{
  color: var(--white);
}

.scroll-top {
  width: 55px;
  height: 55px;
  line-height: 55px;
  position: fixed;
  bottom: 105%;
  right: 30px;
  font-size: 24px;
  z-index: 99;
  color: var(--white);
  background: var(--primary);
  border: 1px solid var(--primary);
  text-align: center;
  cursor: pointer;
  transition: 1s ease;
}

.scroll-top:before {
  background: -webkit-linear-gradient(0deg, var(--grad-dark), var(--grad-light) 50%);
  position: absolute;
  content: '';
  width: 55px;
  height: 55px;
  left: -1px;
  top: -1px;
  transform: scale(0, 0);
  z-index: -1;
  transition: all 500ms ease;
}

.scroll-top:hover:before {
  transform: scale(1, 1);
}

.scroll-top.open {
  bottom: 80px;
}

.scroll-top span {
  color: var(--white);
}

.title {
  font-size: 68px;
  font-weight: 500;
  color: var(--header);
}

.title>span {
  color: var(--primary);
  font-family: "Carattere", cursive;
}

.section_title {
  font-size: 48px;
  font-weight: 500;
  color: var(--header);
  /* text-transform: uppercase; */
}

.section_title span {
  color: var(--primary);
  font-family: "Carattere", cursive;
}

.title_2 {
  font-size: 42px;
}

.title_3 {
  font-size: 24px;
  line-height: 34px;
}

.title_4 {
  font-size: 20px;
  line-height: 24px;
}


.section_desc{
  max-width: 800px;
  margin: 0 auto;
}

/** buttons **/

.btn_primary {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  background: var(--primary);
  color: #fff !important;
  padding: 12px 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
  transition: all 500ms ease;
}



.btn_primary:before {
  position: absolute;
  content: '';
  background: var(--secondary);
  width: 0%;
  height: 100%;
  top: 0px;
  right: 0px;
  border-radius: 4px;
  z-index: -1;
  transition: all 500ms ease;
}

.btn_primary:hover:before {
  width: 100%;
  left: 0px;
}



.btn_secondary {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  background: transparent;
  color: var(--header) !important;
  padding: 12px 40px;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--primary);
  border-radius: 5px;
  z-index: 1;
  transition: all 500ms ease;
}

.btn_secondary:before {
  position: absolute;
  content: '';
  background: var(--secondary);
  width: 0%;
  height: 100%;
  top: 0px;
  right: 0px;
  z-index: -1;
  border-radius: 4px;
  border-color: var(--secondary);
  transition: all 500ms ease;
}

.btn_secondary:hover:before {
  width: 100%;
  left: 0px;
  color: var(--white) !important;
}
.btn_secondary:hover {
  color: var(--white) !important;
  border-color: var(--secondary);
}


.btn_secondary.white {
  background: #fff;
  border: 1px solid var(--primary);
}
.btn_secondary.white:hover{
  border-color: var(--secondary);
}


.subheader {
  margin-bottom: 20px;
}

.subheader .btn {
  display: inline-block;
  padding: 8px 25px;
  font-size: 15px;
  background: rgba(240, 243, 255, 1);
  color: rgba(0, 56, 124, 1);
  border-radius: 10px;
  border: 1px solid rgba(114, 114, 114, 1);

  position: relative;
  left: -15px;
}

.subheader .icon {
  width: 48px;
  position: relative;
  z-index: 1;
}

.section_btn_divider {
  background-image: url(../img/section-btn-border.png);
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  padding-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .section{
    padding: 70px 0;
  }
  .section_title{
    font-size: 32px;
  }
  p{
    font-size: 16px;
  }
}